@media screen and (min-width: 1920px){
   .back_3{
    margin-left: -2%;
   }
   .back_1{
    margin-left: -0.5%;
   }
   .back_2{
    margin-left: -0.5%;
   }
   .back2_2{
    margin-left: 2%;
   }
    .navbar_on{
        margin-top: 2%;
    }

    #back_to_menu_on{
        z-index: 3;
        position: absolute;
        font-size: 1.4vw;
        margin-left: -9.2%;
    }
    
    #shop_on{
        position: absolute;
        margin-left: -3.9%;
    }
    
    #space_on{
        position: absolute;
        margin-left: 16%;
    }
    
    #manifesto_on{
        position: absolute;
        margin-left: 40.3%;
    }
    #ceremony_on{
        position: absolute;
        margin-left: 61.6%;
    }
    
    #events_on{
       
        position: absolute;
        margin-left: 83.6%;
    }
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 1.4vw;
        margin-left: -5.6%;
    }
    }

    @media screen and (min-width: 1440px)and (max-width: 1919px){
       .back_3{
    margin-left: -2%;
    height: 50vw;
   }
   .back_1{
    margin-left: -0.5%;
   }
   .back_2{
    margin-left: -0.5%;
   }
   .back2_2{
    margin-left: 2%;
   }
    .navbar_on{
        margin-top: 2%;
    }

    #back_to_menu_on{
        z-index: 3;
        position: absolute;
        font-size: 1.4vw;
        margin-left: -9.2%;
    }
    
    #shop_on{
        position: absolute;
        margin-left: -3.9%;
    }
    
    #space_on{
        position: absolute;
        margin-left: 16%;
    }
    
    #manifesto_on{
        position: absolute;
        margin-left: 40.43%;
    }
    #ceremony_on{
        position: absolute;
        margin-left: 61.8%;
    }
    
    #events_on{
       
        position: absolute;
        margin-left: 83.9%;
    }
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 1.4vw;
        margin-left: -5.6%;
    }
    }

    @media screen and (min-width: 1366px)and (max-width: 1439px){
        .back_3{
            margin-left: -2%;
            height: 50vw;
           }
           .back_1{
            margin-left: -0.5%;
           }
           .back_2{
            margin-left: -0.5%;
           }
           .back2_2{
            margin-left: 2%;
           }
            .navbar_on{
                margin-top: 2%;
            }
        
            #back_to_menu_on{
                z-index: 3;
                position: absolute;
                font-size: 1.4vw;
                margin-left: -9.2%;
            }
            
            #shop_on{
                position: absolute;
                margin-left: -3.9%;
            }
            
            #space_on{
                position: absolute;
                margin-left: 16%;
            }
            
            #manifesto_on{
                position: absolute;
                margin-left: 40.43%;
            }
            #ceremony_on{
                position: absolute;
                margin-left: 61.8%;
            }
            
            #events_on{
               
                position: absolute;
                margin-left: 83.9%;
            }
            
            #back_to_menu{
                z-index: 3;
                position: absolute;
                font-size: 1.4vw;
                margin-left: -5.6%;
            }
            }
        
    
    @media screen and (min-width: 1024px)and (max-width: 1365px){
        .back_3{
            margin-left: -2%;
            height: 50vw;
           }
           .back_1{
            margin-left: -0.5%;
           }
           .back_2{
            margin-left: -0.5%;
           }
           .back2_2{
            margin-left: 2%;
           }

       

    .navbar{
        font-size: 2vw;
        word-spacing: 8vw;
    } 
    .navbar_on{
        margin-top: 2%;
    }  

    #back_to_menu_on{
        z-index: 3;
        position: absolute;
        font-size: 2vw;
        margin-left: -9.2%;
    }
    
    #shop_on{
        font-size: 2vw;
        position: absolute;
        margin-left: -4%;
    }
    
    #space_on{
        font-size: 2vw;
        position: absolute;
        margin-left: 14.3%;
    }
    
    #manifesto_on{
        font-size: 2vw;
        position: absolute;
        margin-left: 38.9%;
    }
    #ceremony_on{
        font-size: 2vw;
        position: absolute;
        margin-left: 59.2%;
    }
    
    #events_on{
        font-size: 2vw;
        position: absolute;
        margin-left: 80.7%;
    }
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 2vw;
        margin-left: -5.6%;
    }
    }
    
    @media screen and (min-width: 768px)and (max-width: 1023px){
        .back_3{
            margin-left: -2%;
            height: 60vw;
           }
           .back_1{
            margin-left: -0.5%;
           }
           .back_2{
            margin-left: -1%;
            width: 101%;
           }
           .back2_2{
            margin-left: 2%;
            width: 110%;
            margin-top: -2%;
            
           }


           .photo{
            margin-top: 10%;
           }


           .photo_2{
            margin-top: 105%;
           }

           .page_1{
            margin-left: 20%;
            width: 60%;
            margin-top: 43%;
           }
           .page_2{
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_3{
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_4{
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .page_5{
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }



    .navbar{
        font-size: 2.8vw;
        word-spacing: 4vw;
    } 
    .navbar_on{
        margin-top: 2%;
    }  

    #back_to_menu_on{
        z-index: 3;
        position: absolute;
        font-size: 2.8vw;
        margin-left: -9.2%;
    }
    
    #shop_on{
        font-size: 2.8vw;
        position: absolute;
        margin-left: -4.4%;
    }
    
    #space_on{
        font-size: 2.8vw;
        position: absolute;
        margin-left: 13.4%;
    }
    
    #manifesto_on{
        font-size: 2.8vw;
        position: absolute;
        margin-left: 39.9%;
    }
    #ceremony_on{
        font-size: 2.8vw;
        position: absolute;
        margin-left: 60.4%;
    }
    
    #events_on{
        font-size: 2.8vw;
        position: absolute;
        margin-left: 82.5%;
    }
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 2.8vw;
        margin-left: -5.6%;
    }  
    }
    @media screen and (min-width: 414px)and (max-width: 767px){
        .back_1{
            margin-top: -7%;
            margin-left: -2%;
            width: 108%;
            height: 240vw;
            overflow: hidden;

        }
        .back1_1{
            width: 237%;
            transform: rotate(90deg);
            
        }
.back_3{
    display: none;
}
        back_2{
            overflow: hidden;
            width: 100%;
            height: 210vw;
            margin-top: 200%;
           }
    
           .back2_2{
            transform: rotate(90deg);
            width: 260%;
            margin-left: -0.5%;
           }

           .photo{
            margin-top: 70%;
            width:75% ;
            margin-left: -70%;

           }

           .foto_tree{
            margin-top: 88%;
            margin-left: 108%;
           }

           .table{
            display: none;
           }


           .photo_2{
            display: none;
            margin-top: 105%;
           }

           .page_1{
            display: none;
            margin-left: 20%;
            width: 60%;
            margin-top: 43%;
           }
           .page_2{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_3{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_4{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .page_5{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .space_flower_1{
            width: 70%;
            margin-left: 3%;
            margin-top: 50%;

           }
           .space_flower_2{
            width: 70%;
            margin-left: 33%;
            margin-top: 120%;

           }

           .v2{
            display: none;
           }

           .space_flower_3{
            display: none;

           }
    
    

    .navbar{
       z-index: 3;
        font-size: 9vw;
        word-spacing: 6vw;
        margin-top: 2%;
        margin-left: 13%;
    } 

    .navbar_on{
        display: none;
        margin-top: 2%;
    }  
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 9vw;
        margin-left: -10%;
    }  
    }
    @media screen and (min-width: 360px)and (max-width: 413px){ 
        .back_1{
            margin-top: -8%;
            margin-left: -2.5%;
            width: 108%;
            height: 240vw;
            overflow: hidden;

        }
        .back1_1{
            width: 237%;
            transform: rotate(90deg);
            
        }
.back_3{
    display: none;
}
        back_2{
            overflow: hidden;
            width: 100%;
            height: 210vw;
            margin-top: 200%;
           }
    
           .back2_2{
            transform: rotate(90deg);
            width: 260%;
            margin-left: -0.5%;
           }

           .photo{
            margin-top: 70%;
            width:75% ;
            margin-left: -70%;

           }

           .foto_tree{
            margin-top: 88%;
            margin-left: 108%;
           }

           .table{
            display: none;
           }


           .photo_2{
            display: none;
            margin-top: 105%;
           }

           .page_1{
            display: none;
            margin-left: 20%;
            width: 60%;
            margin-top: 43%;
           }
           .page_2{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_3{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_4{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .page_5{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .space_flower_1{
            width: 70%;
            margin-left: 3%;
            margin-top: 50%;

           }
           .space_flower_2{
            width: 70%;
            margin-left: 33%;
            margin-top: 120%;

           }

           .v2{
            display: none;
           }

           .space_flower_3{
            display: none;

           }
    
    

    .navbar{
       z-index: 3;
        font-size: 9vw;
        word-spacing: 6vw;
        margin-top: 2%;
        margin-left: 13%;
    } 

    .navbar_on{
        display: none;
        margin-top: 2%;
    }  
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 9vw;
        margin-left: -10%;
    }  
    }
    
    @media screen and (min-width: 0px)and (max-width: 359px){ 
        .back_1{
            margin-top: -8%;
            margin-left: -2.5%;
            width: 108%;
            height: 240vw;
            overflow: hidden;

        }
        .back1_1{
            width: 237%;
            transform: rotate(90deg);
            
        }
.back_3{
    display: none;
}
        back_2{
            overflow: hidden;
            width: 100%;
            height: 210vw;
            margin-top: 200%;
           }
    
           .back2_2{
            transform: rotate(90deg);
            width: 260%;
            margin-left: -0.5%;
           }

           .photo{
            margin-top: 70%;
            width:75% ;
            margin-left: -70%;

           }

           .foto_tree{
            margin-top: 88%;
            margin-left: 108%;
           }

           .table{
            display: none;
           }


           .photo_2{
            display: none;
            margin-top: 105%;
           }

           .page_1{
            display: none;
            margin-left: 20%;
            width: 60%;
            margin-top: 43%;
           }
           .page_2{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_3{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }

           .page_4{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .page_5{
            display: none;
            width: 60%;
            margin-left: 20%;
            margin-top: 43%;
           }
           .space_flower_1{
            width: 70%;
            margin-left: 3%;
            margin-top: 50%;

           }
           .space_flower_2{
            width: 70%;
            margin-left: 33%;
            margin-top: 120%;

           }

           .v2{
            display: none;
           }

           .space_flower_3{
            display: none;

           }
    
    

    .navbar{
       z-index: 3;
        font-size: 9vw;
        word-spacing: 6vw;
        margin-top: 2%;
        margin-left: 13%;
    } 

    .navbar_on{
        display: none;
        margin-top: 2%;
    }  
    
    #back_to_menu{
        z-index: 3;
        position: absolute;
        font-size: 9vw;
        margin-left: -10%;
    }  
    }