p,a{
    color: white;
    font-family: 'Forma';
    text-decoration: none;
}

input{
    font-size: 1.4vw;
    color: rgb(84, 81, 81);
    font-family: 'Forma';
    text-decoration: none;
}
