body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.background{
    position: absolute;
    width: 101.7%;
    height: 154vw;
    overflow: hidden;
    margin-left: -2%;
    margin-top: -1%;
}


.shroom{
    position: absolute;
    width: 100%;
}

.initeal{
 text-shadow: white 0px 0px 3px;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 10%;
  margin-top: 4%;
}


.tea_zvuka{
    text-shadow: white 0px 0px 3px ;
    font-weight: bold;
    margin-top: 4%;
    font-size: 1.5vw;
    position: absolute;
    z-index: 2;
    margin-left: 78%;
    animation: zvuka 2s linear infinite;
  }


.leaf1{
    width: 25%;
    height: 35%;
    position: absolute;
    margin-left: 45%;
    margin-top: 20%;
}

#leaf1_1{
    position: absolute;
    width: 130%;
    margin-left: -15%;
    animation: leaf1 3s ease-in-out infinite;
}

@keyframes leaf1{
    0%{rotate: 0deg;margin-top: 20%;}
    50%{rotate: 15deg;margin-top: 15%;}
    100%{rotate: 0deg;margin-top: 20%;} 
}

.leaf1:hover ~ .white_tea{
  opacity: 100%;
}

.white_tea{
    position: absolute;
    margin-top: 45%;
    margin-left: 55%;
    opacity: 0%;
    width: 27%;
    height: 10%;
}

.white_tea_1{
    width: 82%;
}

.text_white{
    text-shadow: white 0px 0px 3px;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 4%;
  margin-top: 3%;

}

.leaf2{
    width: 24%;
    height: 36.5%;
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
    animation: leaf2 4s ease-in-out infinite;
}

@keyframes leaf2{
    0%{rotate: 0deg; margin-top: 35%;}
    50%{rotate: 20deg;margin-top: 30%;}
    100%{rotate: 0deg;margin-top: 35%} 
}

.leaf2_1{
    position: absolute;
    width: 127%;
    margin-top: 10%;
    margin-left: -20%;
}

.leaf2:hover ~ .green_tea{
    opacity: 100%;
  }

.green_tea{
    position: absolute;
    margin-top: 60%;
    margin-left: 8%;
    opacity: 0%;
    width: 53%;
    height: 10%;
    
}

.green_tea_1{
    width: 56%;
}

.text_green{
text-shadow: white 0px 0px 3px;
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 2%;
  margin-top: 1.8%;
}

.leaf3{
    z-index: 4;
    width: 18%;
    height: 32%;
    position: absolute;
    margin-left: 43%;
    margin-top: 56%;
    animation: leaf3 2.5s ease-in-out infinite;
}

@keyframes leaf3{
    0%{rotate: 0deg; margin-top: 60%;}
    50%{rotate: -10deg; margin-top: 57%}
    100%{rotate: 0deg; margin-top: 60%} 
}

.leaf3_1{
    position: absolute;
    width: 160%;
    margin-top: 5%;
    margin-left: -25%;
}

.leaf3:hover ~ .black_tea{
    opacity: 100%;
  }

.black_tea{
    z-index: 5;
    position: absolute;
    margin-top: 79%;
    margin-left: 50%;
    opacity: 0%;
    width: 33%;
}

.black_tea_1{
    width: 77%;
}

.text_black{
    text-shadow: white 0px 0px 3px;
      font-size: 1.5vw;
      font-weight: bold;
      position: absolute;
      z-index: 2;
      margin-left: 3%;
      margin-top: 2.8%;
    }


.par{
position: absolute;
z-index: 0;
width: 19vw;
height: 9vw;
background-color: white;
border-radius: 50%;
margin-top: 114%;
margin-left: 38%;
animation: par 3s infinite;

}

@keyframes par{
  0%{box-shadow: 0px 0px 15px 15px white;};
  25%{box-shadow: 0px 0px 10px 10px white;}
  50%{box-shadow: 0px 0px 20px 20px white;}
  75%{box-shadow: 0px 0px 10px 10px white;}
  100%{box-shadow: 0px 0px 15px 15px white;}
}

.teapot{
    z-index: 2;
    position: absolute;
    margin-top: 109%;
    margin-left: 17%;
    width: 62%;
    height: 50%;
}

.teapot_1{
    width: 100%;
}

.teapot_crishka{
    z-index: 3;
    position: absolute;
    margin-top: 104%;
    margin-left: 35.6%;
    width: 46%;

}

.teapot_crishka_1{
    width: 62%;
    margin-left: -2.5%;
    
}



#box {
    margin-left: 2%;
    width: 97%;
    height: 150vw;
    position: absolute;
    overflow:hidden;
  }
    
    @keyframes anim {
      0% {width: 2px; height: 2px; }
      10% {width: 3px; height: 3px;}
      20% {width: 4px; height: 4px; }
      30% {width: 5px; height: 5px; }
      40% {width: 6px; height: 6px; }
      50% {width: 7px; height: 7px; }
      60% {width: 8px; height: 8px; }
      70% {width: 8px; height: 8px;}
      80% {width: 8px; height: 8px; }
      90% {width: 8px; height: 8px; }
      100% {width: 8px; height: 8px; }
    }

#bee {
    top: 10px;
    left: 20px;
      width: 10%;
      position: absolute;       
      transition:top 1s, left 1s;
      animation: anim 1.8s steps(1) infinite;
    }




.text_end{
    text-shadow: white 0px 0px 3px;
      font-size: 1.5vw;
      font-weight: bold;
      position: absolute;
      z-index: 2;
      margin-left: 2%;
      margin-top: 150%;
    
}